
.Info p{
  font-size: 20px;
  line-height:25px;
  top: 350px;
  left: 75px;
  position: absolute;
}

.rect {
  top: 50px;
  left: 450px;
  position: absolute;
}
.foto {
  top: 50px;
  left: 50px;
  position: absolute;
}

.Aplica {
  top: 450px;
  left: 100px;
  position: absolute;
}


