<link rel="stylesheet" href="oferta.component.css" />
<body>
  <div class="rect" style="width:900px;height:500px;border:1px solid #000;">
  </div>

  <!-- <div class="Buscador">
     <form>
       <fieldset>
         <p>
           <!----<label>Text box</label>
  <input type="text"
         id="Buscar"
         value="Buscar" />
  </p>
  </fieldset>
  </form>
  </div>-->
  <div class="foto">
    <img src="https://t1.gstatic.com/images?q=tbn:ANd9GcRoZDaNzMYv_VRSkbWtXmk58tYmlhUzI46VB1z8vUjkIb2CF8G55v1zemuZFbCH"
         width="350"
         height="300">
  </div>
  <div class="Info">
    <p>Nombre: <br> Oportunidad: <br>Empresa:<br> Ubicación: </p>
  </div>
  <div class="Aplica">
    <button type="button" class="btn btn-primary" id="aplica" data-dismiss="modal">APLICA</button>
  </div>
  <div class="Descripción">
    <h1>Descripción </h1>
  </div>
  <div class="Requisitos">
    <h1>Requisitos</h1>
  </div>
  <div class="Base">
    <h1>Base Salarial </h1>
  </div>
  <div class="Responsabilidades">
    <h1>Descripción de <br> Responsabilidades</h1>
  </div>
</body>



  

