<link rel="stylesheet" href="oferta.component.css" />
<body>
  <div class="rect" style="width:900px;height:500px;border:1px solid #000;">
  </div>

  <!-- <div class="Buscador">
     <form>
       <fieldset>
         <p>
           <!----<label>Text box</label>
  <input type="text"
         id="Buscar"
         value="Buscar" />
  </p>
  </fieldset>
  </form>
  </div>-->
  <div class="foto">
    <img src="https://t1.gstatic.com/images?q=tbn:ANd9GcRoZDaNzMYv_VRSkbWtXmk58tYmlhUzI46VB1z8vUjkIb2CF8G55v1zemuZFbCH"
         width="350"
         height="300">
  </div>
  <div class="Info">
    <p>Nombre: <br> Oportunidad: <br>Empresa:<br> Ubicación: </p>
  </div>
  <div class="Aplica">
    <button type="button" class="btn btn-primary" id="enviar" data-dismiss="modal" onClick="window.open('http://localhost:4200/ofertas', '_self').close">APLICA</button>
  </div>
  <div class="Descripción">
    <h1>Descripción </h1>
  </div>
  <div class="eDescripcion" id="eDescripcion" >
  </div>
  <div class="Requisitos">
    <h1>Requisitos</h1>
  </div>
  <div class="eRequisitos" id="eRequisitos">
    Prueba
  </div>
  <div class="Base">
    <h1>Base Salarial </h1>
  </div>
  <div class="eBase" id="eBase">
    Prueba
  </div>
  <div class="Responsabilidades">
    <h1>Descripción de <br> Responsabilidades</h1>
  </div>
  <div class="eResponsabilidades" id="eResponsabilidades">
    Prueba
  </div>
  <div class="eNombre" id="eNombre">
    Prueba
  </div>
  <div class="eOportunidad" id="eOportunidad">
    Prueba
  </div>
  <div class="eEmpresa" id="eEmpresa">
    Prueba
  </div>
  <div class="eUbicacion" id="eUbicacion">
    Prueba
  </div>
</body>



  

