
.Info p{
  font-size: 20px;
  line-height:25px;
  top: 350px;
  left: 75px;
  position: absolute;
}

.rect {
  top: 50px;
  left: 450px;
  position: absolute;
}
.foto {
  top: 50px;
  left: 50px;
  position: absolute;
}

.Descripción {
  top: 100px;
  left: 500px;
  position: absolute;
}

.Requisitos {
  top: 300px;
  left: 500px;
  position: absolute;
}
.Base {
  top: 200px;
  left: 500px;
  position: absolute;
}
.Responsabilidades {
  top: 400px;
  left: 500px;
  position: absolute;
}
.Aplica {
  top: 450px;
  left: 100px;
  position: absolute;
}


