<link rel="stylesheet" href="agregaroferta.component.css" />
<body>
  <div class="rect" style="width:900px;height:500px;border:1px solid #000;">
  </div>

  <!-- <div class="Buscador">
     <form>
       <fieldset>
         <p>
           <!----<label>Text box</label>
  <input type="text"
         id="Buscar"
         value="Buscar" />
  </p>
  </fieldset>
  </form>
  </div>-->
  <div class="foto">
    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D108010100587223&imgrefurl=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAqui-Va-Nuestro-Logo%2F108010100587223&tbnid=NoRmQy94GttkZM&vet=12ahUKEwiuiNDmgr3uAhXln3IEHSX6DekQMygJegUIARC6AQ..i&docid=u2XSgikwPQV80M&w=180&h=180&q=aqui%20va%20su%20foto&hl=es-419&client=firefox-b-d&ved=2ahUKEwiuiNDmgr3uAhXln3IEHSX6DekQMygJegUIARC6AQ"
         width="350"
         height="300">
  </div>
  <div class="Info">
    <p>Nombre: <br> Oportunidad: <br>Empresa:<br> Ubicación: </p>
  </div>
  <div class="Enviar">
    <button type="button" class="btn btn-primary" id="enviar" data-dismiss="modal">ENVIAR</button>
  </div>
  <div class="Descripción">
    <h1>Descripción </h1>
  </div>
  <div class="escribirDescripción">
    <p>
      <input type="text"
             id="Descripción"
             value="Descripción" 
             size="60">
    </p>

  </div>
  <div class="Requisitos">
    <h1>Requisitos</h1>
  </div>
  <div class="escribirRequisitos">
    <p>
      <input type="text"
             id="Requisitos"
             value="Requisitos"
             size="60"/>
    </p>
  </div>
  <div class="Base">
    <h1>Base Salarial </h1>
  </div>
  <div class="escribirBase">
    <p>
      <input type="text"
             id="Base"
             value="Base (Use solo número y escriba el salario en colones)"
             size="60"/>
    </p>
  </div>
  <div class="Responsabilidades">
    <h1>Descripción de <br> Responsabilidades</h1>
  </div>
  <div class="escribirResponsabilidades">
    <p>
      <input type="text"
             id="Responsabilidades"
             value="Responsabilidades"
             size="50"/>
    </p>
  </div>
  <div class="Nombre">
    <p>
      <input type="text"
             id="Nombre"
             value="Nombre"
             size="17"/>
    </p>
  </div>
  <div class="Oportunidad">
    <p>
      <input type="text"
             id="Oportunidad"
             value="Oportunidad"
             size="17"/>
    </p>
  </div>
  <div class="Empresa">
    <p>
      <input type="text"
             id="Empresa"
             value="Empresa"
             size="17"/>
    </p>
  </div>
  <div class="Ubicacion">
    <p>
      <input type="text"
             id="Ubicacion"
             value="Ubicación"
             size="17"/>
    </p>
  </div>
</body>



  

