<link rel="stylesheet" href="ofertas.component.css" />
<body>
  <div class="banner">
    <div class="app-text">
      <h1>Ofertas Laborales </h1>
    </div>
  </div>
  <div class="Buscador">
    <p>
      <!----<label>Text box</label>-->
      <input type="text"
             id="Buscar"
             value="Buscar" />
    </p>
  </div>
  <div class="Agregar">
    <button class="button" id="agregar" onClick="window.open('http://localhost:4200/agregaroferta', '_self').close">Agregar</button>

  </div>

  <div id="content" #content>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Oportunidad</th>
          <th scope="col">Empresa</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">Base Salarial</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let item of ofertaList">
          <td>{{ item.oportunidad }}</td>
          <td>{{ item.empresa }}</td>
          <td>{{ item.ubicacion }}</td>
          <td>{{ item.baseSalarial }}</td>

          <td>
            <button class="button" id="ir">IR</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="button" id="irr">IR</button>

</body>



