<link rel="stylesheet" href="ofertas.component.css" />
<body>
  <div class="banner">
    <div class="app-text">
      <h1>Ofertas Laborales </h1>
    </div>
  </div>
  <div class="Buscador">
    <p>
      <!----<label>Text box</label>-->
      <input type="text"
             id="Buscar"
             value="Buscar" />
    </p>
  </div>
  <div class="Agregar">
    <button class="button" id="agregar" onClick="window.open('http://localhost:4200/agregaroferta', '_self').close">Agregar</button>

  </div>
</body>

  

