.margin-left{
    margin-left: 10px !important;
}

.marginText-left{
    margin-left: 20px !important;
}

.margin-bottom{
    margin-bottom: 20px !important;
}


.margin-top{
    margin-top: 40px !important;
}


.marginText-top{
    margin-top: 20px !important;
}

.marginLabel-top{
    margin-top: 17px !important;
}